## MacOS

# General
.DS_Store
.AppleDouble
.LSOverride

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/


# vscode
.vscode/

# Byte-compiled / optimized / DLL files
__pycache__/

# Poetry
# Poetry config file which is generated when you run poetry config <option> --local
poetry.toml

# Django stuff:
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal
staticfiles/
media/

# Flask stuff:
instance/
.webassets-cache

# PEP 582; used by e.g. github.com/David-OConnor/pyflow
__pypackages__/